
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.grid-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 80px 100px 80px 200px 200px 80px 150px;
margin: 0px;
padding: 0px;
/*grid-auto-columns: 1fr;*/
/*gap: 1em;*/
/*grid-template-areas: 
"main-content secondary-content tertiary-content tertiary-content"
"secondary-content secondary-content secondary-content tertiary-content"
"main-content secondary-content tertiary-content tertiary-content";*/
}

.element{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: azure;
    
    
}



.element:nth-child(1){
    background-color: #ffffff;
    width: 100%;
    
    /*grid-area: main-content;*/
    grid-column: 1/4; /* Dalla colonna 1 alla colonna 3 */
    grid-row: 1; /* Prima riga */
}

#first-content{
    background-color: #2f3f31;
    padding:0px auto;
    margin: 0px auto;
    text-align: center;
    
    width: 80%;
    height: 80%;
    display: flex; /* Utilizza Flexbox per centrare verticalmente */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center;
    
}

.element:nth-child(2){
    background-color: #ffffff;
    height: 70px;
    /*grid-area: secondary-content;*/
    grid-column: 2 ; /* Dalla colonna 1 alla colonna 3 */
    grid-row: 2; /* Prima riga */
}

.element:nth-child(3){
    background-color: #ffffff;
    

    /*grid-area: tertiary-content;*/
    grid-column: 1 / 4; /* Dalla colonna 1 alla colonna 3 */
    grid-row: 3; /* Prima riga */
}

.element:nth-child(4){
    background-color: #ffffff;
    padding: 0px auto;
    margin: 0px auto;
    height: 100%;
    width: 100%;
    
    grid-column: 1; 
    grid-row: 4/6; 
}

#services{
    padding: 0px auto;
    margin: 20px ;
    height: 100%;
    width: 70%;
    row-gap: 10px;
    background-color: #ffffff;
    display:inline-block;
    align-items: center;
    
    text-align: center; 
}

/*#services-li{
    
    
    width: 80%;
    height: 50px;
    display:inline-block;
    

    justify-content: center; 
    align-items: center;
    
    
    background-color: #ffffff;
    line-height: 80px;
    
}*/

.element:nth-child(5){
    background-color: #ffffff;
    padding: auto;
    margin: auto;
    grid-column: 2; 
    grid-row: 4; 
}

.element:nth-child(6){
    background-color: #ffffff;
    
    grid-column: 3; 
    grid-row: 4; 
}

.element:nth-child(7){
    background-color: #ffffff;
    
    grid-column: 1; 
    grid-row: 6; 
}

.element:nth-child(8){
    background-color: #ffffff;
    /*grid-area: fourth-content;*/
    grid-column: 3; /* Dalla colonna 1 alla colonna 3 */
    grid-row: 5; /* Prima riga */
}

.element:nth-child(9){
    background-color: #ffffff;
    /*grid-area: fourth-content;*/
    grid-column: 1/4; /* Dalla colonna 1 alla colonna 3 */
    grid-row: 6; /* Prima riga */
}

.element:nth-child(10){
    background-color: #ffffff;
    /*grid-area: fourth-content;*/
    grid-column: 1/4; /* Dalla colonna 1 alla colonna 3 */
    grid-row: 7; /* Prima riga */
}

.element ul{
    list-style: none;
    padding: 1px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f3f31;
    margin: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.element ul li{
    padding: 20px;
    margin: 0px auto;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f3f31;
    color: white;
    text-align: center;
    
}

.element ul li a{
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f3f31;
    color: white;
    text-decoration: none;
    align-items: center;
}

/*.grid-container div{
    padding: 30px;
    
    
}*/



#services li{
    padding: 5px;
    margin: 5px;
    
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f3f31;
    color: white;
    text-decoration: none;
    align-items: center;
    line-height: 80px;
}

/*#secondary-content{
    grid-area: secondary-content;
    background-color: aqua;
}

#tertiary-content{
    grid-area: tertiary-content;
    background-color: red;
}
    */

/*@media (min-width: 1440px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "main-content main-content tertiary-content"
        ;
        
}}*/
        